html {
    background-color: rgb(22, 22, 22);
}

img {
    display: block;
    margin: 0 auto;
}

body {
    width: 600px;
    margin: 0 auto;
}

p {
    font-size: 19px;
    font-family: "Inter Medium", sans-serif;
}

p {
    color: rgb(199, 199, 199);
    word-spacing: 1px;
    padding: 15px;
}




